<a href="https://colab.research.google.com/github/prakashsukhwal/R-based-classes/blob/main/2_Basic_R_Data_Types_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. Lists

## Use the Link below to create more R notebooks
### Note: do not forget to save your work in your google drive

[Use R on Google Colab!](https://colab.research.google.com/notebook#create=true&language=r)

In [ ]:
a_list = list(1:4, "a", TRUE, list(c('hello', 'world!')))

In [ ]:
str(a_list)

In [ ]:
typeof(a_list)

In [ ]:
attributes(a_list)

In [ ]:
is.list(a_list)

## Data Access

In [ ]:
a_list

In [ ]:
a_list[[1]]

In [ ]:
a_list[[1]][2]

In [ ]:
names(a_list) = c('l1', 'l2', 'l3', 'l4')

In [ ]:
a_list$l1

In [ ]:
a_list[['l1']]

In [ ]:
a_list$l1[2]

In [ ]:
is.recursive(a_list)

In [ ]:
a_list2 = c(1:4, "a", TRUE, 1 + 4i, list(seq(12, 15)))
a_list2

In [ ]:
# sublist
typeof(a_list[2])

##### <p style="text-align:left; padding-left: 4em;">Guess Output-1 </p>

In [ ]:
# example
something = list(name="PS", age=34)

In [ ]:
something$na

##### <p style="text-align:left; padding-left: 4em;">Guess Output-2 </p>

In [ ]:
something = vector("list")

In [ ]:
something$l1 = c(1,2)

In [ ]:
something$l2 = 1:4

In [ ]:
typeof(something)
length(something)

In [ ]:
x = list(1:4, "a", TRUE, list(c('hello', 'world!')))
y = c(1:4, "a", TRUE, list(c('hello', 'world!'))) 
x
y

In [ ]:
x==y

In [ ]:
all.equal(x == y)



## example-1
Extract all phone numbers from a textual input

In [2]:
install.packages(c('stringr', 'rebus'))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘rebus.base’, ‘rebus.datetimes’, ‘rebus.numbers’, ‘rebus.unicode’

In [ ]:
library(stringr)
library(rebus)

In [24]:
x = c(" 219 733 8965 543.355.3679", "329-293-8753 ",  
      "387 287 6718", "543.355.3678", 
      "233.398.9187  ", "482 952 3315",
      "2399238115 and 842.566.4692", 
      "My Work: 579-499-7527, My Home: 222-333-1212")
x

[1] " 219 733 8965 543.355.3679"
[2] "329-293-8753 "
[3] "387 287 6718"
[4] "543.355.3678"
[5] "233.398.9187  "
[6] "482 952 3315"
[7] "2399238115 and 842.566.4692"
[8] "My Work: 579-499-7527, My Home: 222-333-1212"

In [26]:
p1 = DGT %R% DGT %R% DGT
p2 = DGT %R% DGT %R% DGT %R% DGT
sep = or(" ", ".", "-", "")

ptrn = p1 %R% sep %R% p1 %R% sep %R% p2
ptrn

<regex> \d\d\d(?: |.|-|)\d\d\d(?: |.|-|)\d\d\d\d

In [27]:
n = str_match_all(x, pattern = ptrn)
print(n)
class(n)

[[1]]
     [,1]
[1,] "219 733 8965"
[2,] "543.355.3679"

[[2]]
     [,1]
[1,] "329-293-8753"

[[3]]
     [,1]
[1,] "387 287 6718"

[[4]]
     [,1]
[1,] "543.355.3678"

[[5]]
     [,1]
[1,] "233.398.9187"

[[6]]
     [,1]
[1,] "482 952 3315"

[[7]]
     [,1]
[1,] "2399238115"
[2,] "842.566.4692"

[[8]]
     [,1]
[1,] "579-499-7527"
[2,] "222-333-1212"

[1] "list"

In [29]:
data.frame('contacts' = unlist(n))

   contacts
1  219 733 8965
2  543.355.3679
3  329-293-8753
4  387 287 6718
5  543.355.3678
6  233.398.9187
7  482 952 3315
8  2399238115
9  842.566.4692
10 579-499-7527
11 222-333-1212