<a href="https://colab.research.google.com/github/prakashsukhwal/R-based-classes/blob/main/4_Basic_R_Data_Types_Data_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4. Dataframe

## Use the Link below to create more R notebooks
### Note: do not forget to save your work in your google drive

[Use R on Google Colab!](https://colab.research.google.com/notebook#create=true&language=r)

In [ ]:
# uncomment run the code below only if you do not have 'pacman' installed
install.packages('pacman', repos = "http://cran.us.r-project.org")

In [ ]:
# using this we load the libraries (it installs the ones we do not have in our system)
pacman::p_load(tidyverse, FRACTION, lubridate, IRdisplay)

## Create

In [ ]:
##### Create

In [ ]:
set.seed(100)
student_id = 101:105

age = sample(15:20, replace = TRUE, size = 5)

gender = sample(c("M","F"), 5, replace=TRUE, prob = c(0.6,0.4))

In [ ]:
student_id = 101:105

age = sample(15:20, replace = TRUE, size = 5)

gender = sample(c("M","F"), 5, replace=TRUE, prob = c(0.6,0.4))
class_data = data.frame(student_id, gender, age)

In [ ]:
class_data = data.frame(student_id, gender, age)

In [ ]:
str(class_data)

In [ ]:
class_data = data.frame(student_id, gender, age, stringsAsFactors = FALSE)

In [ ]:
str(class_data)

## Type & Properties

In [ ]:
##### Type & Properties

In [ ]:
class(class_data)
is.data.frame(class_data)

In [ ]:
dim(class_data)

In [ ]:
length(class_data)
ncol(class_data)
nrow(class_data)

In [ ]:
names(class_data)
colnames(class_data)

In [ ]:
rownames(class_data)

In [ ]:
attributes(class_data)

## Data Access: Using Index

In [ ]:
#### Data Access: Using Index

In [ ]:
class_data[1,]

In [ ]:
class_data[,1]

In [ ]:
class_data[,1, drop=FALSE] 
# drop = F to return a data frame

In [ ]:
class_data[1:2, 2:3] # Access specific data

## Using Names

In [ ]:
#### Using Names

In [ ]:
class_data$age

In [ ]:
class_data['age']

In [ ]:
class(class_data['age'])
typeof(class_data['age'])

In [ ]:
class_data[, c('student_id', 'age')]

In [ ]:
class_data[c('1', '3'), c('student_id', 'age')]

In [ ]:
str(class_data)

## Modify
1. Change a value
2. Add row or column
3. Merge 2 data frames 
4. Split data frame 
5. Delete

In [ ]:
##### Modify 
## 1. Change a value
## 2. Add row or column
## 3. Merge 2 data frames <br/> 4. Split data frame 5. Delete</p>

In [ ]:
class_data[c(1,3),"age"] = 16
class_data

In [ ]:
# Add a row
new_student = list(106, 'F', 18)
class_data = rbind(class_data, new_student)
class_data

### using a condition to modify
- 10 % discount to all younger than 16 yrs else flat 5%

In [ ]:
##### Using a condition to modify
## 10 % discount to all younger than 16 yrs else flat 5%

In [ ]:
class_data$discount = ifelse(class_data$age < 16, 0.10, 0.05)
class_data

In [ ]:
class_data$discount = NULL

In [ ]:
# Add a column; call it 'height'
height = sample(150:180, replace = TRUE, size = 6)

In [ ]:
class_data$height = height # can also use cbind()
class_data

## Merge

In [ ]:
#### Merge

In [ ]:
class_additional_info = data.frame(student_id = 101:106, 
                        nationality = sample(c("Asian",
                         "European", "Japanese"), 
                          size = 6, 
                          replace=TRUE),
                          stringsAsFactors = F)
class_additional_info

In [ ]:
# merge addtional info. with class_data
class_modified = merge(class_data, 
                       class_additional_info, 
                       by="student_id")

In [ ]:
class_modified

## Split

In [ ]:
#### Split

In [ ]:
# split based on a column
(class_split = split(class_modified, class_modified$gender))

In [ ]:
#### Delete

## Delete

In [ ]:
# row
class_modified[-1,]

In [ ]:
# column
class_data$height = NULL
names(class_data)