<a href="https://colab.research.google.com/github/prakashsukhwal/R-based-classes/blob/main/5_Factor_and_Dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. Factor

## Use the Link below to create more R notebooks
### Note: do not forget to save your work in your google drive

[Use R on Google Colab!](https://colab.research.google.com/notebook#create=true&language=r)

In [ ]:
# uncomment run the code below only if you do not have 'pacman' installed
install.packages('pacman', repos = "http://cran.us.r-project.org")

In [ ]:
pacman::p_load(tidyverse,plyr, nycflights13)

## Factor
### Create Nominal

In [ ]:
client_races = factor(c('European', 'Asian', 'American', 
                        'Asian', 'European'))

In [ ]:
str(client_races)

## Class & Levels

In [ ]:
attributes(client_races)

In [ ]:
class(client_races)

In [ ]:
levels(client_races)

In [ ]:
typeof(client_races)

In [ ]:
unclass(client_races)

## Create Ordinal

In [ ]:
client_level = factor(c('low', 'low', 'medium', 'high', 'medium'),
                     levels = c('low', 'medium', 'high'),
                     ordered = T)

In [ ]:
str(client_level)

In [ ]:
attributes(client_level)

## Revalue Levels

In [ ]:
revalue(client_level, c('low' = 'L',
                        medium = 'M', 
                        high = 'H' ))
levels(client_level)

In [ ]:
client_level = factor(c('low', 'low', 'medium', 'high', 'medium'),
                     levels = c('low', 'medium', 'high'),
                     ordered = T)

In [ ]:
dplyr::recode(client_level, 'low' = 'L',
                        medium = 'M', 
                        high = 'H' )

In [ ]:
levels(client_level)

## dplyr 101
    1. select
    2. filter 
    3. summarise
    4. arrange 
    5. mutate 
    6. group_by

In [ ]:
# Read in the dataset
titanic = read.csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTKBjG8bVvhznEgkpUhWZCnUxZ-aIuVsbc3nqJppOGv-c6Q4mLJeUXCOww-ABxdFcvF21WwQMrfvD78/pub?gid=1378155968&single=true&output=csv', 
                   na.strings=c(""))

In [ ]:
# print the structure of dataset
str(titanic)

In [ ]:
head(titanic,4)

In [ ]:
summary(titanic)

In [ ]:
# print column names
names(titanic)
colnames(titanic)

### set proper data types

In [ ]:
cols_to_change = c('pclass','survived', 'embarked')

# check
sapply(titanic[cols_to_change], class)

In [ ]:
titanic[cols_to_change] = lapply(titanic[cols_to_change], factor)
# check
sapply(titanic[cols_to_change], class)

In [ ]:
# base function summary()
summary(titanic)

In [ ]:
# Summary by a grouped column
# column: embarked
# method: summarise_all() [dplyr]

titanic %>%
group_by(embarked) %>%
summarise_all(mean)


>using summarise_all() on non-numeric col results in errors

In [ ]:
# Summary by a grouped column
# column: embarked
# method: summarise_if() [dplyr]

titanic %>%
group_by(embarked) %>%
summarise_if(is.numeric, mean, na.rm = T)

In [ ]:
# including multiple measures
# mean, median, max etc.
titanic %>%
group_by(embarked) %>%
summarise_if(is.numeric, funs(mean, median, max), na.rm = T)

### proportion of missing

In [ ]:
# compute the proportion of missing data
# use complete.cases(.)
options(digits=5)
missing = titanic %>%
          filter(!complete.cases(.))

# proportion

nrow(missing)/nrow(titanic)

In [ ]:
# go by columns 
# compute missing proportions

colMeans(is.na(titanic))

In [ ]:
names(titanic)

In [ ]:
# counts of embarked
titanic %>%
dplyr::count(embarked)

In [ ]:
titanic %>%
filter(embarked != 'NA')%>%
dplyr::count(embarked)

In [ ]:
table(titanic$embarked)

In [ ]:
aggregate(fare ~ pclass + sex, data = titanic, sum)

In [ ]:
aggregate(fare ~ pclass + sex + embarked, data = titanic, sum)

In [ ]:
# proportion of male, female
# survived in each class

titanic%>%
group_by(pclass, sex, survived)%>%
dplyr::summarise(n = n())%>%
mutate(freq = n / sum(n))

In [ ]:
# top and bottom
titanic %>%
top_n(4, wt = age)

titanic %>%
top_n(-4, wt = age)

In [ ]:
# challenge-1
# find out the name, age of oldest passenger
# did he/she survive?

# ans: Barkworth, Mr. Algernon Henry Wilson	80	1

In [ ]:
# challenge-2
# name, age of youngest passenger who didn't make it alive

#Danbom, Master. Gilbert Sigvard Emanuel	0.33

### Practice Exercise: NYC Flights Data

####     1. Assign 'flights' data from package 'nycflights13' to a data frame and call it flights_data

#### 2. Explore the dataset for its structure and summary stats. Answer the following:
    1) What is the dimension of this dataset?
    2) Which columns would you rather assign as factors?
    3) What is the percentage of values missing per column? 
    4) How can you create a proper date column in dataframe flights_data?

#### 3. More Questions
    5) How many unique origins and unique destinations do we have?
    6) Are all origins connected to other destinations?
    7) Delay > 15 mins is an important KPI in aviation. What proportion of flights are delayed more than 15 mins?